@model ProjectionView._1.JobsListView
@{
}
<h2>Jobs</h2>
<table>
	<caption>
		<a asp-action="Add" asp-controller="Jobs">Add a Job</a>
	</caption>
	<tr>
		<th>Name</th>
	</tr>
	@foreach (var j in Model.Jobs) {
		<tr>
			<td>
				<a asp-action="Edit" asp-controller="Jobs" asp-route-id="@j.Id">@j.Name</a>
			</td>
			<td>@j.Csr?.Name</td>
			<td>@j.State?.Name</td>
			<td>@j.Status?.Name</td>
			<td>@j.Type?.Name</td>
		</tr>
	}
</table>